.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

form .label {
  display: block;
  color: inherit;
  text-align: left;
}

form .radio, form .checkbox {
  margin-bottom: 4px;
  padding-left: 27px;
  font-size: 15px;
  line-height: 27px;
  cursor: pointer;
}

form .inline-group .radio, form .inline-group .checkbox {
  float: left;
  margin-right: 30px;
}
